---
import Color from "./Color.astro";

const { data, type } = Astro.props;

let udsolgt = false;
if (!data.hvid && !data.raa_rust && !data.gron && !data.graagraa && !data.morkegron && !data.gul && !data.havblaa && !data.rust && !data.sortbrun && !data.lyseblaa && !data.morkebrun && !data.blue) {
  // console.log("gul og grøn udsolgt");
  udsolgt = true;
}
---

<a href={`/product/${data.slug}`} class={type}>
  <article>
    <img src=`/img/webp/products/${data.img}` alt=`Produktbillede af ${data.name}` />
    <div class="info">
      <div class="graphics">
        <div class="colors">
          {data.hvid && <Color type="card" img="hvid.webp" />}
          {data.raa_rust && <Color type="card" img="raa_rust.webp" />}
          {data.gron && <Color type="card" img="gron.webp" />}
          {data.graagraa && <Color type="card" img="graagraa.webp" />}
          {data.morkegron && <Color type="card" img="morkegron.webp" />}
          {data.gul && <Color type="card" img="gul.webp" />}
          {data.havblaa && <Color type="card" img="havblaa.webp" />}
          {data.rust && <Color type="card" img="rust.webp" />}
          {data.sortbrun && <Color type="card" img="sortbrun.webp" />}
          {data.lyseblaa && <Color type="card" img="lyseblaa.webp" />}
          {data.morkebrun && <Color type="card" img="morkebrun.webp" />}
          {data.blue && <Color type="card" img="blue.webp" />}
        </div>
        <button> </button>
      </div>
      <div class="text">
        <p>{data.name}</p>
        <p><span class="dot">&#8226;</span>{data.collection}</p>
      </div>
      <p>
        <span class="price">{data.price}</span>
        <span class="price_kr"> kr</span>
        {
          data.price_old && (
            <span class="price_old">
              {data.price_old}
              <span class="price_old_kr"> kr</span>
            </span>
          )
        }
      </p>
    </div>
    {data.price_old && <p class="flag discount">Rabat</p>}
    {udsolgt && <p class="flag sold">Udsolgt</p>}

    <!-- <p class="flag sold">Udsolgt</p> -->
  </article>
</a>

<style>
  .carrousel {
    width: 190px;
  }

  a {
    background-color: var(--primary_200);
    text-decoration: none;
    border-radius: var(--radius_m);
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
  }
  a:hover {
    text-decoration: none;
    box-shadow:
      0px 1px 3px rgb(190, 190, 190, 0.95),
      0px 4px 10px rgb(190, 190, 190, 0.95);
  }

  article {
    position: relative;
    display: flex;
    flex-direction: column;
    /* max-width: 280px; */
  }

  img {
    border-radius: var(--radius_m) var(--radius_m) 0 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_3);
    padding: var(--spacing_4);
    border-radius: 0 0 var(--radius_m) var(--radius_m);
  }

  .graphics {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .colors {
    display: flex;
    gap: var(--spacing_2);
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing_3);
  }

  .text span {
    margin-right: var(--spacing_3);
  }
  .hide {
    display: none;
  }

  /* FLAG */
  .flag {
    position: absolute;
    z-index: 10;
    background-color: var(--accent_600);
    border-radius: var(--radius_max) 0 0 var(--radius_max);

    color: var(--primary_100);
    text-transform: uppercase;

    padding: var(--spacing_3) var(--spacing_3) var(--spacing_3) var(--spacing_6);
    top: var(--spacing_8);
    right: 0;
  }

  .discount {
    display: block;
  }
  .sold {
    display: block;
    background-color: var(--accent_800);
  }

  .price_sale {
    color: var(--accent_600);
  }

  .price_old {
    margin-left: var(--spacing_3);
  }
  .price,
  .price_kr {
    font-size: 1.125rem;
  }
  .price_old,
  .price_old_kr {
    text-decoration: line-through;
    font-size: 0.875rem;
  }

  button {
    height: 36px;
    width: 36px;
    background: url(/img/svg/shopping_bag-dark.svg);
    background-repeat: no-repeat;
    border-radius: var(--radius_max);
    background-position: center;
  }
  button:hover {
    background: url(/img/svg/shopping_bag-light.svg), var(--accent_600);
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
