---
import Button from "../components/Button.astro";

const { img, img_desk, heading, button, button_txt, side } = Astro.props;
---

<section>
  <picture>
    <source media="(min-width:500px)" srcset=`/img/webp/hero/${img_desk}` class="Billede af produkter" />
    <img src=`/img/webp/hero/${img}` alt="Billede af produkter" />
  </picture>
  <article class={side}>
    <h1>{heading}</h1>
    <p>
      <slot />
    </p>
    <div class=`top ${button}`>
      <Button type="primary" link="/products">{button_txt}</Button>
    </div>
  </article>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_5);
    padding: var(--spacing_5);
  }

  .top {
    margin-top: var(--spacing_2);
  }

  p {
    font-size: 1.25rem;
  }

  /********************************************************** Tablet version **********************************************************/
  @media (min-width: 500px) {
    p {
      font-size: 1.25rem;
    }

    article {
      padding: var(--spacing_8) var(--spacing_10);
    }
  }
  /********************************************************** Desk version **********************************************************/
  @media (min-width: 1000px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing_5);
    }

    article {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      align-self: center;
      padding: 0 10% 0 30%;
    }

    picture {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }
    .right {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
  }

  /* HIDES BUTTON IN LISTVIEW AND LARS RANK */
  .hide {
    display: none;
  }
</style>
