---
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Button from "../../components/Button.astro";
import Carrousel from "../../components/Carrousel.astro";
import CardProduct from "../../components/CardProduct.astro";
import Colorsample from "../../components/Colorsample.astro";
import FormCounter from "../../components/FormCounter.astro";
import SingleLayouts from "../../layouts/SingleLayouts.astro";

// Laver statiske stier til hvert element i databasen
export async function getStaticPaths() {
  // Henter dataen med fetch
  const data = await fetch("https://hhmpiztfssfaluwezhgq.supabase.co/rest/v1/rank_keramik", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhobXBpenRmc3NmYWx1d2V6aGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDgyNzA4NTUsImV4cCI6MjAyMzg0Njg1NX0.TqriEz5DkZTixJO6AhMtVsvt7xiSjMvpJm525z2c9jM",
    },
  }).then((res) => res.json());

  //Benytter map til at lave en underside for hvert element i databasen
  return data.map((products) => {
    return {
      // Bruger slugget fra database (products.slug) og navngiver filen dét
      // Det første 'slug' henviser til det slug, som er i mit filnavn (som er [slug].astro)
      // Det næste 'slug' henviser til en kolonne i databasen
      params: { slug: products.slug },

      props: { myData: products },
    };
  });
}

// Definere en prop, som dataen der er fetchet
const { myData } = Astro.props;
console.log(myData);
---

<SingleLayouts>
  <Breadcrumbs />
  <div class="layout">
    <img src="/img/webp/tester.webp" alt="" />
    <section class="info">
      <!-- <p class="collection">{myData.collection}</p> -->
      <!-- <h1 class="name">{myData.name}</h1> -->
      <p>
        <!-- <span class="price price_sale">{myData.price}</span> -->
        <span class="price_kr price_sale"> kr</span>
        <span class="price_old">XXXX</span><span class="price_old_kr"> kr</span>
      </p>
      <Colorsample />
      <FormCounter />
      <button>Tilføj til kurv</button>

      <article>
        <div class="dimensioner">
          <div>
            <h4>Materiale</h4>
            <!-- <p>{myData.material}</p> -->
          </div>
          <div>
            <h4>Mål</h4>
            <!-- <p>{myData.measurements}</p> -->
          </div>
        </div>

        <div>
          <h4>Beskrivelse</h4>
          <!-- <p>{myData.description}</p> -->
        </div>
      </article>
    </section>
    <section class="related">
      <h2>Relaterede produkter</h2>
      <Carrousel />
      <div class="placeholder">
        <CardProduct />
        <CardProduct />
      </div>

      <Button type="secondary" link="#">Læs mere</Button>
    </section>
  </div>

  <style>
    section {
      margin: var(--spacing_8) var(--spacing_6);
    }

    h1 {
      font-size: 2.25rem;
    }

    button {
      font-family: var(--font_body);
      font-size: 1rem;
      font-weight: 400;
      color: var(--primary_50);
      text-decoration: none;

      background-color: var(--accent_600);
      border: solid;
      border-color: var(--accent_600);
      border-radius: var(--radius_max);

      padding: var(--spacing_4) var(--spacing_6);
      display: block;
      width: 100%;
    }

    /* INFORMATIONER */
    .info {
      display: flex;
      flex-direction: column;
      gap: var(--spacing_6);
    }

    article {
      display: flex;
      flex-direction: column;
      gap: var(--spacing_7);
      margin-top: var(--spacing_8);
    }

    .collection {
      font-size: 1.25rem;
    }
    .dimensioner {
      display: flex;
      gap: var(--spacing_12);
    }

    /* PRICE */
    .price,
    .price_kr {
      font-size: 1.25rem;
    }

    .price_sale {
      color: var(--accent_600);
    }

    .price_old {
      margin-left: var(--spacing_3);
    }
    .price_old,
    .price_old_kr {
      text-decoration: line-through;
      font-size: 1rem;
    }

    /* RELATEREDE PRODUKTER */
    .related {
      display: flex;
      flex-direction: column;
      gap: var(--spacing_5);
      align-items: center;
    }

    .related h2 {
      align-self: start;
    }

    /* PLACEHOLDER */
    .placeholder {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing_3);
      padding: var(--spacing_3);
    }
    @media (min-width: 800px) {
      .layout {
        display: flex;
        gap: var(--spacing_11);
      }

      .related h2 {
        align-self: center;
      }
    }
  </style>
</SingleLayouts>
